.add-user-container{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    padding: 20px;
}

.add-user-toolbar-button button{
    width: 200px;
    border: none;
    height: 40px;
    border-radius: 5px;
    color: white;
    font-size: 1.2em;
    transition: all 100ms;
}
.add-user-toolbar-button button:hover{
    transform: scale(1.1);
}

.add-user-toolbar-button button:nth-child(1){
    background-color: red;
}
.add-user-toolbar-button button:nth-child(2){
    background-color: green;
}


.add-user-form, .add-user-login-form{
    width: 100%;
    background-color:#eef1f5 ;
    padding: 30px;
    margin-top: 10px;
}

.user-date_picker{
    
    border: 1px solid rgb(204, 202, 202);
    border-radius: 5px;
    width: 100%;
    height: 35px;
    transition: all 90ms;
}
.user-date_picker:focus{
    outline: 4px solid #b5d1f7;
}

.check{
    display: flex;
    flex-direction: row;
    align-items: center;
  
}

.error{
    color: red;
}
