.container-fluid {
  background-color: white !important ; 
  
}

h3, h4{
 
  color:#013142 ;
  font-size:larger;
}

ul{
  list-style-type: circle;
}

.not-valid{
  color: red !important;
}

.valid{
  color: rgb(7, 71, 7);
}